Repository AyuntamientoMadrid/consul, pull requests merged in 2019-02, with the labels that each got.

#1856 Always show markers on budgets index map
  app/helpers/budgets_helper.rb
  app/models/budget.rb
  spec/features/budgets/budgets_spec.rb
Labels: Backport Needed

#1857 Budgets UI minor fixes
  app/assets/stylesheets/custom.scss
  app/assets/stylesheets/participation.scss
  app/helpers/budgets_helper.rb
  app/views/admin/budgets/_form.html.erb
  app/views/budgets/groups/show.html.erb
  app/views/budgets/index.html.erb
  app/views/budgets/investments/_investment_show.html.erb
  app/views/custom/budgets/index.html.erb
  spec/features/admin/budget_investments_spec.rb
  spec/features/admin/budgets_spec.rb
  spec/features/budgets/investments_spec.rb
Labels: Backport Needed

#1850 Show unfeasible and unselected investments for finished budgets.
  app/controllers/application_controller.rb
  app/controllers/budgets/groups_controller.rb
  app/controllers/budgets/investments_controller.rb
  app/controllers/budgets_controller.rb
  spec/features/budgets/investments_spec.rb
Labels: Backport Needed, budget

#1828 Create budget investment's votes
  lib/migrations/spending_proposal/vote.rb
  lib/tasks/spending_proposals.rake
  spec/lib/migrations/spending_proposals/vote_spec.rb
Labels: Backport Needed, Spending Proposals

#1865 Migrate spending proposal internal comments
  lib/migrations/spending_proposal/budget_investment.rb
  spec/lib/migrations/spending_proposals/budget_investment_spec.rb
Labels: Backport Needed, Budget, Spending Proposals

#1868 Migrate spending proposal ballots
  lib/migrations/spending_proposal/ballot.rb
  lib/migrations/spending_proposal/ballots.rb
  lib/tasks/spending_proposals.rake
  spec/lib/migrations/spending_proposals/ballot_spec.rb
  spec/lib/migrations/spending_proposals/ballots_spec.rb
  spec/support/common_actions/budgets.rb
Labels: Backport Needed, Budget, Spending Proposals

#1842 Make participatory budgets translatable
  app/controllers/admin/budget_groups_controller.rb
  app/controllers/admin/budget_headings_controller.rb
  app/controllers/admin/budget_phases_controller.rb
  app/controllers/admin/budgets_controller.rb
  app/controllers/valuation/budget_investments_controller.rb
  app/helpers/admin_helper.rb
  app/helpers/budget_headings_helper.rb
  app/models/budget.rb
  app/models/budget/group.rb
  app/models/budget/group/translation.rb
  app/models/budget/heading.rb
  app/models/budget/heading/translation.rb
  app/models/budget/phase.rb
  app/models/budget/phase/translation.rb
  app/models/budget/translation.rb
  app/models/concerns/globalizable.rb
  app/models/milestone.rb
  app/models/progress_bar.rb
  app/views/admin/budget_groups/_form.html.erb
  app/views/admin/budget_headings/_form.html.erb
  app/views/admin/budget_phases/_form.html.erb
  app/views/admin/budgets/_form.html.erb
  app/views/budgets/ballot/_ballot.html.erb
  app/views/custom/budgets/index.html.erb
  config/initializers/routes_hierarchy.rb
  config/locales/en/general.yml
  config/locales/es/general.yml
  db/dev_seeds/budgets.rb
  db/migrate/20190118135741_add_budget_translations.rb
  db/migrate/20190119160418_add_budget_phase_translations.rb
  db/migrate/20190120155819_add_budget_group_translations.rb
  db/migrate/20190121171237_add_budget_heading_translations.rb
  db/schema.rb
  spec/features/admin/budget_groups_spec.rb
  spec/features/admin/budget_headings_spec.rb
  spec/features/admin/budget_phases_spec.rb
  spec/features/admin/budgets_spec.rb
  spec/models/budget/group_spec.rb
  spec/models/budget/heading_spec.rb
  spec/models/budget_spec.rb
  spec/shared/features/translatable.rb
  spec/support/common_actions/verifications.rb
Labels: Backport Needed, Budget, admin

#1872 Show headings in budgets landing page when translations are missing
  app/models/budget/heading.rb
  spec/features/budgets/budgets_spec.rb
Labels: Backport Needed, Budget

#1835 Use votes score instead of total votes on debates and legislation proposals
  app/models/debate.rb
  app/models/legislation/proposal.rb
  app/views/admin/legislation/proposals/_proposals.html.erb
  app/views/debates/_votes.html.erb
  app/views/legislation/proposals/_votes.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  db/migrate/20190118115237_add_cached_votes_score_to_legislation_proposals.rb
  db/schema.rb
  spec/features/admin/legislation/proposals_spec.rb
  spec/features/debates_spec.rb
  spec/features/legislation/proposals_spec.rb
  spec/features/votes_spec.rb
Labels: Backport Needed

#1858 Delete Booth Shifts with associated data
  app/controllers/admin/poll/shifts_controller.rb
  app/models/poll/booth_assignment.rb
  app/models/poll/shift.rb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/poll/shifts_spec.rb
Labels: Bug, admin, polls

#1875 Budgets landing page
  app/helpers/budget_headings_helper.rb
  app/models/budget/heading.rb
  app/views/budgets/groups/show.html.erb
  app/views/budgets/index.html.erb
  app/views/custom/budgets/index.html.erb
  spec/features/budgets/budgets_spec.rb
  spec/features/budgets/groups_spec.rb
  spec/models/budget/heading_spec.rb
Labels: Backport Needed, Budget

#1877 Migrate internal comments with a large body
  app/models/comment.rb
  spec/lib/migrations/spending_proposals/budget_investment_spec.rb
Labels: Backport Needed, Budget, Spending Proposals

#1878 Require dependencies for Budget and Budget::Ballot classes
  lib/migrations/spending_proposal/ballot.rb
Labels: Backport Needed, Budget, Spending Proposals

#1879 Do not display logs in test environment
  lib/migrations/log.rb
  lib/migrations/spending_proposal/ballot.rb
  lib/migrations/spending_proposal/budget_investment.rb
Labels: Backport Needed, Budget, Spending Proposals

#1800 Add description for open polls
  app/controllers/admin/poll/active_polls_controller.rb
  app/controllers/polls_controller.rb
  app/helpers/admin_helper.rb
  app/helpers/application_helper.rb
  app/helpers/polls_helper.rb
  app/models/active_poll.rb
  app/views/admin/_menu.html.erb
  app/views/admin/poll/active_polls/_form.html.erb
  app/views/admin/poll/active_polls/edit.html.erb
  app/views/admin/poll/polls/index.html.erb
  app/views/custom/polls/_footer.html.erb
  app/views/custom/polls/_meta_description.html.erb
  app/views/custom/polls/_social_meta_tags.html.erb
  app/views/custom/polls/index.html.erb
  app/views/polls/index.html.erb
  config/locales/en/admin.yml
  config/locales/en/responders.yml
  config/locales/es/admin.yml
  config/locales/es/responders.yml
  config/routes/admin.rb
  db/migrate/20190104160114_create_active_polls.rb
  db/migrate/20190104170114_add_active_polls_translations.rb
  db/schema.rb
  spec/factories/polls.rb
  spec/features/admin/poll/active_polls_spec.rb
  spec/features/polls/polls_spec.rb
  spec/shared/features/translatable.rb
Labels: Backport Needed, admin, polls

#1883 Extract shared code from custom partial
  app/views/custom/polls/_footer.html.erb
  app/views/polls/index.html.erb
Labels: polls

#1864 Return a String in I18n method 'pluralize'
  config/initializers/i18n_pluralize.rb
  config/initializers/inflections.rb
  spec/i18n_spec.rb
Labels: Bug

#1885 Initialize settings in development environment
  db/dev_seeds/settings.rb
Labels: Backport Needed

#1890 Show all investments in the map
  app/controllers/budgets/investments_controller.rb
  spec/features/budgets/investments_spec.rb
Labels: Backport Needed

#1757 Fix random proposals order in the same session
  app/controllers/budgets/investments_controller.rb
  app/controllers/concerns/random_seed.rb
  app/controllers/custom/probes_controller.rb
  app/controllers/human_rights_controller.rb
  app/controllers/legislation/processes_controller.rb
  app/models/budget/investment.rb
  app/models/concerns/randomizable.rb
  app/models/custom/probe_option.rb
  app/models/debate.rb
  app/models/legislation/proposal.rb
  app/models/proposal.rb
  spec/features/budgets/investments_spec.rb
Labels: Backport Needed

#1882 Show all system emails in Admin section
  app/assets/stylesheets/admin.scss
  app/controllers/admin/system_emails_controller.rb
  app/mailers/mailer.rb
  app/views/admin/system_emails/index.html.erb
  app/views/admin/system_emails/view.html.erb
  app/views/mailer/reply.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  lib/reply_email.rb
  spec/features/admin/system_emails_spec.rb
Labels: admin

#1887 [Upstream] Refactor images attributes
  app/controllers/admin/legislation/processes_controller.rb
  app/controllers/admin/milestones_controller.rb
  app/controllers/admin/poll/polls_controller.rb
  app/controllers/admin/widget/cards_controller.rb
  app/controllers/budgets/investments_controller.rb
  app/controllers/concerns/image_attributes.rb
  app/controllers/legislation/proposals_controller.rb
  app/controllers/proposals_controller.rb
Labels: Backport Needed

#1888 [Upstream] Add sorting links to investments admin table
  app/assets/stylesheets/admin.scss
  app/controllers/admin/budget_investments_controller.rb
  app/helpers/budget_investments_helper.rb
  app/models/budget/investment.rb
  app/views/admin/budget_investments/_investments.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/budget_investments_spec.rb
  spec/helpers/budget_investments_helper_spec.rb
Labels: Backport Needed

#1886 Fix UI details for a better UX and design
  app/controllers/admin/legislation/processes_controller.rb
  app/helpers/legislation_helper.rb
  app/models/legislation/process.rb
  app/views/admin/legislation/processes/_form.html.erb
  app/views/admin/legislation/processes/index.html.erb
  app/views/welcome/_card.html.erb
  app/views/welcome/_feeds.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/legislation/processes_spec.rb
Labels: Backport Needed

#1892 Show all system emails in Admin section
  app/assets/stylesheets/admin.scss
  app/controllers/admin/system_emails_controller.rb
  app/mailers/mailer.rb
  app/views/admin/system_emails/index.html.erb
  app/views/admin/system_emails/view.html.erb
  app/views/mailer/reply.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  lib/reply_email.rb
  spec/features/admin/system_emails_spec.rb
  spec/lib/reply_email_spec.rb
Labels: Backport Needed, admin

#1894 Fix valuation tags being overwritten
  app/controllers/admin/budget_investments_controller.rb
  app/models/budget/investment.rb
  app/views/admin/budget_investments/edit.html.erb
  spec/features/admin/budget_investments_spec.rb
  spec/models/budget/investment_spec.rb
Labels: Backport Needed

#1893 Improve UX on admin section
  app/views/admin/_menu.html.erb
  app/views/admin/budgets/index.html.erb
  app/views/admin/poll/polls/booth_assignments.html.erb
  app/views/custom/pages/accessibility.html.erb
  config/locales/custom/en/legislation.yml
  config/locales/en/admin.yml
  config/locales/en/general.yml
  config/locales/en/legislation.yml
  config/locales/es/general.yml
  config/locales/es/legislation.yml
  config/locales/es/pages.yml
  db/dev_seeds/legislation_processes.rb
  spec/features/admin/legislation/processes_spec.rb
  spec/features/admin/legislation/proposals_spec.rb
  spec/features/admin/poll/booth_assigments_spec.rb
  spec/features/custom/admin/legislation/film_library_process_spec.rb
Labels: Backport Needed
